.importJokesDiv {
  flex: 1.2;
  background-color: rgb(135, 120, 202);
  box-shadow: -11px 8px 24px -9px rgba(66, 68, 90, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.heading {
  color: white;
  font-size: 2.5em;
  letter-spacing: 2px;
  font-weight: bolder;
}

.laughEmoji {
  font-size: 120px;
  margin: 0;
}

.fetchJokesBtn {
  width: 55%;
  border-radius: 20px;
  padding: 15px 5px;
  background: linear-gradient(140deg, lightskyblue 50%, #cf5f72 50%);
  border: none;
  letter-spacing: 5px;
  font-weight: bolder;
  color: white;
  font-size: 0.9em;
  margin-top: 4em;
  cursor: pointer;
}
